* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.box-slide {
  position: relative;
  width: 100%;
  height: auto;
}

.slider {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  opacity: 0.7;
  transform: scale(0.8);
  width: 80vw;
  flex-shrink: 0;
  max-width: 800px;
  margin: 0 20px;
  transition: 0.4s;

  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

.slide li.ativo {
  opacity: 1;
  transform: scale(1);
}

[data-control='slide'] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

[data-control='slide'] li a {
  display: block;
  width: 12px;
  height: 12px;
  background-color: blue;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  margin:0 10px;
}

[data-control='slide'] li.ativo a, [data-control='slide'] li a:hover {
  background-color: aqua;
}

.navegacao {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.navegacao div {
  background: linear-gradient(to left, rgba(0,0,0,.3), transparent), url(../img/arrow.svg) center no-repeat ;
  width: 10%;
}

.anterior {
  transform: rotate(-180deg);
}

.controle {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  flex-wrap: wrap;
  height: auto;
}

.controle li {
  opacity: .8;
  transform: scale(.8);
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  transition: .3s;
}

.controle li.ativo, .controle li:hover  {
  opacity: 1;
  transform: scale(1);
}

